<header>this is a header</header>
<section>
	<h1>Welcome to my blog by ruby</h1>
</section>
<section>
	<%= link_to 'My Blog',controller: 'articles' %>

	<%= link_to 'New article',new_article_path %>
</section>